.btn {
  margin-right: 5px;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.trDone {
  background: #d4ffc6;
}
.trPending {
  background: #ffebbf;
}

.tableUpdated {
  text-align: center;
  width: 145px;
}

.tableActions {
  width: 105px;
}

.tableCreated {
  width: 152px;
}

.todoForm {
  padding-bottom: 40px;
}