.btn {
  margin-right: 5px;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.trDone {
  background: #d4ffc6;
}
.trPending {
  background: #ffebbf;
}

table tr td.updated {
  text-align: center;
}